### 1. What are data structures, and why are they important.

Data structures are ways to organize and store data (like lists, tuples, dictionaries).
They're important because they help you manage and use data efficiently in your programs.

### 2.  Explain the difference between mutable and immutable data types with examples.?

Mutable: Can change after creation (e.g., list, dict, set)

Immutable: Cannot change after creation (e.g., int, str, tuple)

In [3]:
x = [1, 2]     # list → mutable
x.append(3)    # changes x

y = "hello"    # string → immutable
# y[0] = "H"   → ❌ error

### 3. What are the main differences between lists and tuples in Python.

Feature	          List 	                   Tuple
Syntax	          [1, 2, 3]	              (1, 2, 3)
Mutability	      Mutable	               Immutable
Use case	      Changing data	          Fixed data
Speed	          Slightly slower	       Faster

### 4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs, using a hash table internally.
Example:

In [5]:
person = {"name": "John", "age": 25}

person['vikram'] = 'Aditya'
person

{'name': 'John', 'age': 25, 'vikram': 'Aditya'}

### 5. Why use a set instead of a list?

Sets automatically remove duplicates

Faster lookup (in) than lists.

### 6. What is a string, and how is it different from a list?
A string is a sequence of characters ("hello")

A list is a collection of any items (["h", "e", "l", "l", "o"])

Strings are immutable, lists are mutable

### 7. How do tuples ensure data integrity?
Since tuples are immutable, their values cannot be changed accidentally — useful for fixed data like coordinates or days of the week.

### 8. What is a hash table, and how does it relate to dictionaries?
A hash table is a data structure that maps keys to values using a hash function.
Dictionaries in Python use hash tables under the hood for fast lookup.

### 9. Can lists contain different data types?
Yes! Lists in Python can hold mixed data types:

In [8]:
my_list = [1, "hello", 3.14, True]

### 10. Why are strings immutable?
To ensure:

Memory efficiency

Thread safety

Consistency in behavior when shared across code

### 11. Advantages of dictionaries over lists:
Fast lookup by key

Clear mapping (like name to age)

No need to know position/index

### 12. When to use a tuple instead of a list?
Use tuples when:

You want to protect data from changes

You want to use the object as a dictionary key

Example: GPS location → (latitude, longitude)

### 13. How do sets handle duplicate values?
Sets automatically remove duplicates:

In [9]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

### 14. How does “in” work differently for lists and dictionaries?
For lists: checks if a value exists in the list

For dicts: checks if a key exists

In [10]:
"apple" in ["apple", "banana"]         # ✅ True
"age" in {"name": "Sam", "age": 22}    # ✅ True

True

### 15. Can you modify the elements of a tuple? Why not?
No. Tuples are immutable, so once created, you cannot change any value inside them.

### 16. What is a nested dictionary? Example?
A dictionary inside another dictionary.

In [11]:
students = {
  "A": {"name": "John", "marks": 90},
  "B": {"name": "Sara", "marks": 95}
}

### 17. Time complexity of accessing dictionary elements:
Accessing an element by key in a dictionary is O(1) (constant time), because of hash tables.

### 18. When are lists preferred over dictionaries?
When:

Order matters (Python lists keep order)

You only need to store values, not key-value pairs

You want to loop over items by index

### 19. Why are dictionaries considered unordered, and how does that affect retrieval?
Before Python 3.7, dicts were unordered, meaning they didn't remember the order of keys.
Since 3.7, they do keep order, but logically, dicts are used for key-based access, not position.

### 20. Difference between a list and a dictionary (data retrieval):
List: Access by index → my_list[0]

Dict: Access by key → my_dict["name"]

### 1.Write a code to create a string with your name and print it.

In [1]:
name = "Vikramaditya"
print(f"hello my name is {name}")

hello my name is Vikramaditya

### 2.Write a code to find the length of the string "Hello World"

In [2]:
print(len('Hello World'))

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
char = "Python Programming"
char[0:3]

'Pyt'

### 4. Write a code to convert the string "hello" to uppercase.

In [1]:
char = "hello"
char.upper()

'HELLO'

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
char = "I like apple"
new_text = char.replace("apple","orange")
new_text

'I like orange'

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:

new_list = [ i for i in range(1,6)]
new_list

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [10]:
new_list = [1,2,3,4]
new_list.append(10)
new_list

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [1]:
new_list = [1,2,3,4,5]
new_list.remove(3)
new_list

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
new_list = ['a','b','c','d']
new_list[]

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [3]:
new_list = [10,20,30,40,50]
new_list = new_list[::-1] 
new_list

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [4]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [6]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [8]:
tup = (10,20,5,15)
min(tup)

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [9]:
tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [11]:
fruits = ("mango","orange","kiwi")
if "kiwi" in fruits:
    print("yes ! kiwi in fruits tuple.")

yes ! kiwi in fruits tuple

### 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [15]:
alpha = {'a','b','c'}
print(alpha)

{'b', 'c', 'a'}

set

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
alpha = {1,2,3,4,5}
alpha.clear()
alpha

set()

### 18 .Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [15]:
s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [16]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
set1 = {1,2,3}
set2 = {2,3,4}
inter_set = set1.intersection(set2)
inter_set

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [18]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [19]:
person = {"name": "John", "age": 25,}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
person['name']

'Alice'

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
person

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

### 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [28]:
import random
numbers = random.sample(range(1,101),5)
numbers.sort
numbers

[78, 79, 61, 68, 29]

### 28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "fig"]
print("Element at index 3:", words[3])

Element at index 3: date

### 29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30.  Write a code to convert a list of strings into a set.

In [ ]:
str_list = ["name","fame","game"]
s